coverage/
src/
test/
dist/plugins/
dist/services
dist/gateways
dist/main.*
.github
*.md
_config.yml
babel.config.js
server.config.js
jest.config.js
tsconfig.build.json
tsconfig.json
package-lock.json
LICENSE
.eslintignore
.eslintrc.json
.env